*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex.gz(busy)
*.lnd
*.ldx
*.nnd
*.ndx
*.bib.bak
*.run.xml
*.pdf
*.bcf
.DS_Store
*.synctex

